<!-- Banner -->
<section id="iq-home" class="banner-03 iq-bg iq-bg-fixed iq-box-shadow iq-over-black-80 iq-home-sec-background">
	<div class="container1">
	  <div class="row">
	    <div class="col-sm-12">
	      <h1 class="iq-font-white iq-tw-8 text-center">BANANA Mobile DESH KA Mobile <small class="iq-font-white iq-tw-6"><b class="iq-font-whit">&#9679;</b> Banana Mobiles provide amazing & outstanding feature</small></h1>
	      <br><br>
	      <div class="iq-mobile-app text-center">
	        <div class="iq-mobile-box">
		  <%= link_to new_user_registration_path, remote:true, class: ''  do %>
	             <%=image_tag("02.png", width: "55%", alt: "#", class: "iq-mobile-img" )%>
		  <%end%>

	        </div>
	      </div>
	      <div class="link">
		<%= link_to new_user_registration_path, remote:true, class: ''  do %>
	          <h1 class="iq-font-white" data-animation="animated fadeInLeft">Grab your first Banana Mobile Register Online Here</h1>
		<%end%>

	        <ul class="list-inline" data-animation="animated fadeInUp">
 				<li>
					<%= link_to new_user_registration_path, remote:true, class: ''  do %>
						<i class="fa fa-mobile"></i>
					<%end%>
	          	</li>

		        <li>
					<%= link_to new_user_registration_path, remote:true, class: ''  do %>
						<i class="fa fa-users"></i>
					<%end%>
		        </li>	         

		        <li>
					<%= link_to new_user_registration_path, remote:true, class: ''  do %>
						<i class="fa fa-mobile"></i>
					<%end%>
		        </li>
			   
	           <li class="fb-share-button" data-href="http://www.bananamobiles.com/index.html" data-layout="button_count"     data-size="small" data-mobile-iframe="true">
                   <a class="fb-xfbml-parse-ignore hidden-sm" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.bananamobiles.com%2Findex.html&amp;src=sdkpreparse">
				   <%=image_tag("fbShare.png", class:"large_fb_image", width:"80px", height:"80px", alt: "#" )%>
				   <%=image_tag("fbShare.png", class:"small_fb_image", width:"40px", height:"40px", alt: "#" )%>				   
                   </a>
                </li>

	        </ul>

	        <p class="iq-font-white iq-mt-10"><span style="color:red; font-size:40px">RS 2499/- only </span></p>
	      </div>
	    </div>
	  </div>
	</div>
</section>

<!-- Banner End -->

<div class="main-content">
<!-- Feature -->
<section id="about-us-01" class="overview-block-ptb iq-about-1 grey-bg">
	<div class="container">
	  <div class="row iq-mt-20">
	    <div class="col-sm-12 col-md-6 col-lg-6 iq-mt-30 popup-gallery">
	      <h2 class="heading-left iq-tw-6 iq-mt-40">Specifications</h2>
	      <div class="lead iq-tw-7 iq-mb-20">Banana Mobile is available with new technology and new creative ideas, which works with high resolutions. There is many more features available with different and unique work.</div>
	      <ul style="list-style-type: disc;">
	        <li>Banana Mobile</li>
	        ​
	        <li>Price:  &#8377; 2499.00 </li>
	        ​
	        ​
	        <li>Cash on Delivery eligible.</li>
	        ​
	        <li>Size name: 8 GB</li>
	        <li>8 GB</li>
	        <li>Colour: Black</li>
	        ​
	        ​
	        ​
	        <li>8 MP primary camera with auto focus with digital zoom, HD video recording and 5MP front facing camera</li>
	        <li>5.0-inch on cell capacitive touchscreen with 1280 x 720 pixels resolution and 282 ppi pixel density</li>
	        <li>Android v7.0 Nougat operating system with 1.25 MediaTek MTK 6737 quad core processor, ARM9 GPU, 2GB, 8 GB internal memory expandable up to 32GB and dual SIM (nano+nano) dual-standby (4G+4G)
	        <li>6 month manufacturer warranty for device and 6 months manufacturer warranty for in-box accessories including batteries from the date of purchase.For any query please contact bananainformatics@gmail.com.</li> </ul>


	    </div>
	    <br><br><br><br><br><br><br><br><br><br><br><br>
	    <div class="col-sm-12 col-md-6 col-lg-6">
	      <%=image_tag("01.jpg", class:"img-responsive center-block", alt: "#" )%>
	    </div>
	  </div>
	</div>
</section>	
	
	
	
<section id="about-us" class="overview-block-ptb iq-mt-50">
	<div class="container">
	  <div class="row">
	    <div class="col-sm-12">
	      <div class="heading-title">
	        <h2 class="title iq-tw-6">How Does It Work</h2>
	        <div class="divider"></div>

	        <p></p>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-sm-12 col-md-6 col-lg-6">
	      <div class="iq-fancy-box-03 text-left">
	        <i aria-hidden="true" class="ion-ios-pie-outline iq-font-blue"></i>
	        <h4 class="iq-tw-6">Register <span class="iq-font-blue">.</span></h4>
	        <div class="info-03">
	                    <span data-depth="0.8" class="layer iq-mobile-icon icon-03" data-bottom="transform:translateX(-50px)" data-top="transform:translateX(40px);">
	                        <%=image_tag("sm3.png", width: "330px", height: "150px", alt: "#" )%>

	                    </span>
	          <p> Register to Buy.</p>
	        </div>
	      </div>
	    </div>
	    <div class="col-sm-12 col-md-6 col-lg-6 re7-mt-30">
	      <div class="iq-fancy-box-03 text-left">
	        <i aria-hidden="true" class="ion-ios-color-filter-outline iq-font-blue"></i>
	        <h4 class="iq-tw-6"> View Advertiment  <span class="iq-font-blue">.</span></h4>
	        <div class="info-03">
	                    <span data-depth="0.8" class="layer iq-mobile-icon icon-03" data-bottom="transform:translateX(-50px)" data-top="transform:translateX(40px);">
	                      <%=image_tag("sm1.png", width: "330px", height: "150px", alt: "#" )%>
	                    </span>
	          <p> To use this mobile, the consumer needs to watch 5-minute promotional video every day, and then you will be able to make good use of this mobile.</p>
	        </div>
	      </div>
	    </div>
	   
	    </div>
	  </div>
	</div>
</section>

<hr>

<section class="iq-about-03 overview-block-ptb">
	<div class="container">
	  <div class="row">
	    <div class="col-sm-12">
	      <div class="heading-title iq-mb-20">
	        <h2 class="title iq-tw-6">About Our Mobile </h2>
	        <div class="divider"></div>
	        <div class="center-block iq-pt-30">
	          <span class="lead iq-tw-6"> The company has strived to imbibe its employees with the Vision and Mission of the organisation through clear articulation and internal communication. The articulation of the Vision has also brought in sharper focus, greater sensitivity to consumers, and led to clearly defining priorities.
	          </span>
	            <h2 class="title iq-tw-6">Vision</h2>
                  <span class="lead iq-tw-6">Our aim is to make Indians proud of the Made-In-India label by providing highly innovative products, which are better than the competition, which simplify our lives and provide an unmatched customer experience.
                  </span>
                    <h2 class="title iq-tw-6">Mission</h2>
                  <span class="lead iq-tw-6">To benefit society at large through innovation, quality, productivity, human development and growth, and to generate sustained surpluses, always striving for excellence, within the framework of law, and with pride in ethical values.

                  </span>
	        </div>
	      </div>
	    </div>
	   

	    </div>
	  </div>
	</div>
</section>




<!-- Counter END -->

<!-- Frequently Asked Questions -->


<div class="container">
 
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>

      	<div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 style="color:#3071a9;"><span class="glyphicon glyphicon-lock"></span> Register</h4>
	        </div>
        	<div class="modal-body">
			    <%= devise_error_messages! %>

			    <div class="form-group">
			      <%= f.label :name %>
			      <%= f.text_field :name, class: 'form-control' %>
			    </div>

			    <div class="form-group">
			      <%= f.label :email %>
			      <%= f.email_field :email, class: 'form-control' %>
			      <label id="email_already_exist" class="error"></label>
			    </div>


				<%= f.fields_for :user_address do |address|%>
				    <div class="form-group">
				      <%= address.label :address_line1 %>
				      <%= address.text_field :address_line1, class: 'form-control' %>
			    	</div>
				    <div class="form-group">
				      <%= address.label :address_line2 %>
				      <%= address.text_field :address_line2, class: 'form-control' %>
			    	</div>
				    <div class="form-group">
				      <%= address.label :phone %>
				      <%= address.number_field :phone, class: 'form-control' %>
				    </div>				    	
				    <div class="form-group">
				      <%= address.label :city %>
				      <%= address.text_field :city, class: 'form-control' %>
			    	</div>
				    <div class="form-group">
				      <%= address.label :state %>
				      <%= address.text_field :state, class: 'form-control' %>
			    	</div>				    	
				    <div class="form-group">
				      <%= address.label :postal_code %>
				      <%= address.text_field :postal_code, class: 'form-control' %>
				    </div>			    			    				    				    	
                <%end%>
        	</div>
	        <div class="modal-footer">
	          <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
		      <%= f.submit "Sign up", class: 'btn btn-primary' %>
	        </div>
      	</div>
    <%end%>
    </div>
  </div> 

  <!-- Modal -->
  <div class="modal fade" id="userSuccessModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

        </div>
        <div class="modal-body" id=sucessMessage>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> OK</button>
        </div>
      </div>
    </div>
  </div> 
</div>


<%= javascript_tag do %>
 	$(document).ready(function () {

		$("#new_user").validate({
			debug: true,
			rules: {
			"user[email]": {required: true, email: true},
			"user[name]": {required: true, minlength: 6},
			"user[user_address][address_line1]": {required: true},
			"user[user_address][phone]":  {required: true, minlength:10},
			"user[user_address][city]":  {required: true},
			"user[user_address][state]":  {required: true},
			"user[user_address][postal_code]":  {required: true},

			}
		});

		$("#user_email").on('change keyup paste',function(){
		     
		    $.post('/checkemail?email='+$("#user_email").val(),function(data){
               if (data.email_exists){
                	$('#email_already_exist').html('This email is already registered with us.')
               	return false;
               }else{
 					$('#email_already_exist').html('')               
               	return true;
               }

		    });
		});



	});

<%end%>


