<!DOCTYPE html>
<html>
  <head>
    <title>Banana Mobiles Desh ka mobile</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Banana mobile pesh krte hai desh ka pahela sabse sasta 2GB Ram dual camera stylish design smartphone sif RS 2499 ">
    <meta property="og:title" content="Banana Mobiles Desh ka mobile" />
    <meta property="og:url" content="http://www.bananamobiles.com" />
    <meta property="og:description" content="Banana mobile pesh krte hai desh ka pahela sabse sasta smartphone sif Rs 2499 
     2GB Ram dual camera stylish design ke sath.">
    <meta property="og:image" content='<%= image_url "2.png" %>'>
    <meta property="og:type" content="website" />
    <meta name="author" content="bananamobiles.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6894899731023223",
       enable_page_level_ads: true
     });
    </script>

  </head>
  <body>

    <div class="container">
      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <%= value %>
          </div>
      <% end %>
    </div>

    <!-- Header -->

    <header id="header-wrap" data-spy="affix" data-offset-top="55">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                  <%=image_tag("logo.png")%>
                </a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="top-menu">
                  <li class="active"><a href="#iq-home">Home</a></li>
                  <li><a href="#about-us">About Us</a></li>
                  <li><a href="#features">Features</a></li>
                  <li><%= link_to 'Register', new_user_registration_path, remote:true, class: '' %></li>
                  <li><a href="#contact-us">Contact Us</a></li>
                </ul>
              </div>
              <!-- /.navbar-collapse -->
            </nav>
          </div>
        </div>
      </div>
    </header>

    <!-- Header End -->

    <%= yield %>

    <div class="footer">

      <!-- Subscribe Our Newsletter -->

      <div class="iq-ptb-60 green-bg iq-subscribe">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <form class="form-inline">
                <div class="form-group">
                  <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
                  <label for="email">Subscribe Our Newsletter</label>
                  <input type="email" class="form-control" placeholder="Enter Your Email" id="email">
                </div>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeSiNZkB43yw3fvC2Amzf7taw3oVzz7ruVy1UcTfet0I3VEPA/viewform?usp=sf_link" class="button bt-white re-mt-30">Subscribe Now</a>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Subscribe Our Newsletter END -->

      <!-- full-contact -->

      <section id="contact-us" class="iq-full-contact white-bg">

        <div class="container">
          <div class="row iq-ptb-80">
            <div class="col-sm-6 col-md-4 col-lg-4">

            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">

            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="iq-fancy-box-04">
                <div class="iq-icon green-bg">
                  <i aria-hidden="true" class="ion-ios-email-outline"></i>
                </div>
                <div class="fancy-content">
                  <h5 class="iq-tw-6">Mail</h5>
                  <span class="lead iq-tw-6">bananainformatics@gmail.com</span>
                  <p class="iq-mb-0">24 X 7 online support</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- full-contact END -->

      <!-- Footer -->

      <footer class="iq-footer-03 white-bg iq-ptb-20">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="footer-copyright iq-pt-10">Copyright @ <span id="copyright"></span> <a href="#" class="text-green">Banana mobiles.</a> All Rights Reserved </div>
            </div>
            <div class="col-sm-6">
              <ul class="info-share">
              </ul>
            </div>
          </div>
        </div>
      </footer>

      <!--  END -->

    </div>

  </body>
</html>
